.navbar {
    background-color: #708090; /* Slate Gray color */
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.main-logo {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.me-info {
    display: flex;
    align-items: center;
    gap: 8px; 
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 18px;
    color: white;
}

.me-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
@media (min-width: 1200px) {
    .main-logo {
        margin-left: 280px; /* Increase the left margin for large screens */
    }

    .me-image {
        margin-right: 305px; /* Increase the right margin for large screens */
    }
}