
.post-component {
    width: 80%;
    max-width: 800px;
    margin: 38px 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  
  }
  
  /* Title styling */
  .post-component .title {
    font-family: 'Merriweather', serif;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
  }
  
  /* Date styling */
  .post-component .date {
    float: right;
    font-size: 1em;
    color: #555;
    margin-top: -2em; 
  }
  
  /* Content styling */
  .post-component p {
    margin-bottom: 1em;
  }
  
  /*Obviously*/
  .github-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #B0B0B0; 
    border-bottom: 1px solid #B0B0B0; 
   
  }
  
  /* GitHub link styling */
  .github-section a {
    text-decoration: none;
    color: #0366d6;
    font-weight: bold;
    transition: color 0.3s ease; /* Smooth transition for hover effect */

  }

  .github-section .github-icon{
    margin-bottom: 2px;
  }


  
  /* GitHub link hover effect */
  .github-section a:hover {
    color: #003366;
  }
  